@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-next-arrow {
  font-size: 36px !important;
  color: #4caf50;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 1;
}

.custom-prev-arrow {
  font-size: 36px !important;
  color: #4caf50;
  cursor: pointer;
  position: absolute;
  background: transparent;

  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  z-index: 1;
}

.body-style {
  background-color: #ececec;
}
.footer-top {
  background-color: #ffffff;
}
.footer-mid {
  background-color: #ececec;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 30px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */

  color: white; /* Arrow text color */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev {
  left: 0px; /* Position the previous arrow */
}

.slick-next {
  right: -10px; /* Position the next arrow */
}
